

body {
    background-color: black !important;
    opacity: 85%;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    color: #fff !important;
    font-family: 'Centra', sans-serif !important;
  }
  nav.navbar {
    padding: 15px 0;
    width: 100%;
    top: 0;
    background-color: #121212 !important;
    z-index: 9999;
  }
  .intro {
    display: flex;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    justify-content: center;
    padding: 5vh;
}
/* .intro #myCard {
    opacity: 80%;
    height: fit-content;
    margin-top: 25% !important; */



#mainCointainer {
    background-image: linear-gradient(to right top, #203231, #003c49, #00436f, #004494, #0039a9, #0243ba, #034ecb, #0059dd, #0080ed, #009ee6, #00b6d3, #3fcbc2);
}
.scroll {
    /* max-width: 75%; */
    background-color: rgba(255, 255, 255, 0.10);
    height: auto;
}
.scroll h2 {
    padding-bottom: 2%;
    border-radius: 10%;
}

/* Going to have tio change the height, VH, to a static height */
.scroll p{
    text-align: center;
    border-radius: 10%;
    overflow: auto;
    padding-top: 2%;
    max-height: 75%;
    font-size: 3vh;
}

.imagesyup {
    max-height: 400px !important;
    opacity: 85%;


}

